html {
  scroll-behavior: smooth;
}
body {
  font-family: "Exo 2", "italic";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --sb-track-color: #e9e8e7;
  --sb-thumb-color: #f47b24;
  --sb-size: 9px;
  font-size: large;
  width: 100%;
  max-width: 1920px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

h4 {
  margin: 0;
}

li {
  padding: 0 16px 0 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.legal-information a{
  color: #f5f4f4;
}
input {
  border-radius: 1rem;
  height: 32px;
  width: 32px;
  color: #f47b24;
  border-color: #e9e8e7;
  border-style: solid;
  cursor: pointer;
  font-size: x-large;
}

span{
  margin: 8px 8px;
}


