.meal-container {
  display: flex;
  justify-content: space-between;
  scroll-margin-top: 420px;
}

.header-section-top {
  height: 25%;
  width: -webkit-fill-available;
  background-color: #f47b24;
}

.hero {
  height: -webkit-fill-available;
  object-fit: cover;
  width: -webkit-fill-available;
}
.header-section-middle {
  height: 50%;
  width: -webkit-fill-available;
  position: relative;
}

.header-section-bottom {
  height: 25%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.logo-icon {
  padding: 14px 14px;
}

.logo-icon-hero {
  height: 80px;
  object-fit: cover;
  position: absolute;
  top: 80%;
  right: 50%;
  transform: translate(50%, 0%);
}

.icon {
  height: 24px;
  border-radius: 25px;
  width: 24px;
  background-color: #f47b24;
  border-radius: 2rem;
  padding: 1px 1px 1px 1px;
}

#food-container {
  border: 1px;
  background-color: #f47b24;
  margin: 16px 16px 0 320px;
  border-radius: 1rem;
  padding: 16px 16px 0 16px;
  max-width: 640px;
}

.d_none {
  display: none;
}

.undefined {
  display: none;
}

.align-buttons {
  display: flex;
  justify-content: space-between;
}

.food-img {
  width: -webkit-fill-available;
  height: 160px;
  object-fit: cover;
  border-radius: 1rem;
}

.total-section {
  padding: 32px 0 0 0;
}

.shoppingMeal {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 160px;
}

.modal-container {
  position: fixed;
  visibility: hidden;
  display: grid;
  place-items: center;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  background-color: #f47b24;
  border-radius: 1rem;
  z-index: 3;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
}

